<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>New Page</h1>
    <form action="/todo" method="POST">
        <input type="text" name="todo[title]" placeholder="Title" required>
        <input type="text" name="todo[description]" placeholder="Description" required>
        <input type="text" name="todo[someMoreDetails]" placeholder="Some More Details" required>
        <button type="submit">Add Todo</button>
    </form>
</body>
</html>